<!-- mt-auto = When we want to move only one thing then we use mt-auto -->
<!-- <footer class="footer bg-dark py-3 mt-auto">

    <div class="container">
        <!-- class="text-muted" gives design to text", &copy;-> provides copyright symbol -->
        <!-- <span class="text-muted">&copy;Portfolio</span>
    </div>
</footer> --> 

<!-- Footer -->
<footer class=" text-center text-white footer">
    <!-- Grid container -->
    <div class="container p-4">
     
  
      <!-- Section: Text -->
      <section class="mb-4">
        <div>
            <h5 class="color-footer">About Myself</h5>
            <h3>Full Stack Web developer | Problem Solver</h3>
            <h3>Machine Learning</h3>
        </div>
      </section>
      <!-- Section: Text -->
  

       <!-- Section: Social media -->
       <section class="mb-4">
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/aryan-gupta02/" target="_blank " role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/aryan098-max" target="_blank" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Portfolio
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->