<!-- 
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"> 
  bg-dark - This creates lining in the bottom of the navbar 

-->

<nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-bg">
    <div class="container-fluid">
      <a class="navbar-brand nbar">
          <img src= "/photos/coding.png"  class="logo-img">
          ARYAN     
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link elbar" href="/">Home</a>
          <a class="nav-link elbar" href="/skills">SKILLS</a>
          <a class="nav-link elbar" href="/projects">PROJECTS</a>
          <a class="nav-link elbar" href="/resume">RESUME</a>
          <a class="nav-link ebar" href="/contact">CONTACT</a>

    </div>
  </nav>
  