<% layout("layouts/boilertemplate")  %>
<div class ="textabout">
    <h1> Hi, This is Aryan. This is my portfolio</h1>
    <h2> I have desinged this website using </h2>
    <h3> HTML, CSS, Javacript, Nodejs, Expressjs, EJS, and MongoDB </h3>

    <h4> The purpose of creating this website is to make a portfolio so that people can reach out to me for my skills</h4>    
    
    <a href="mailto:aryangupta4279@gmail.com" >
        <button class=" btn btn-success emailb ">Email</button>
    </a> 

    <div class="animate d-flex justify-content-center align-items-center animation-container">
      <img class=" img-fluid imageanimation" src="https://res.cloudinary.com/dxtghtzir/image/upload/v1685107743/Web_developement_image_cdhyyc.png" alt="">
    </div>
</div>

  

  
  