<% layout("layouts/boilertemplate")  %>
<div class ="textabout">
    <h2> Hi, This is Aryan. This is my portfolio</h2>
    <h3>Experienced web developer proficient in HTML, CSS, JavaScript, Node.js, Express.js, EJS, and MongoDB. Skilled in creating responsive interfaces, implementing dynamic features, and building robust web applications. Passionate about clean code and staying up to date with the latest trends. Let's collaborate and bring your ideas to life!
      </h3>


    
    <a href="mailto:aryangupta4279@gmail.com" >
        <button class=" btn btn-success emailb ">Email</button>
    </a> 

    <div class="animate d-flex justify-content-center align-items-center animation-container">
      <img class="img-fluid imageanimation" src="https://res.cloudinary.com/dxtghtzir/image/upload/v1685107743/Web_developement_image_cdhyyc.png" alt="">
    </div>
</div>

  

  
  