<% layout("layouts/boilertemplate") %>

    <div class="background">
   

       <div class="container home">
        <div class="row">
             
            <div class="col-lg-6 hometext">
                <h1>Hi, Myself </h1>
                <h1>Aryan </h1>
                <h4>Full Stack Web developer | Problem Solver</h4>
                <h4> Focusing on creating user-friendly websites</h4>            
                <a href="mailto:aryangupta4279@gmail.com" >
                    <button class=" btn btn-success emailb ">Email</button>
                </a> 
            </div>
            
            <div class="col-lg-6">
                <img src="  https://res.cloudinary.com/dxtghtzir/image/upload/v1685033408/smart-removebg-preview_lf1jom.png"  class="img-fluid image" height="400" width="500" style="border-radius: 50%; background-color:black">
              </div>  
        </div>
       </div>
    </div>

    

 
