<% layout("layouts/boilertemplate") %>

<div class="background">
    <div class="container home d-flex align-items-center justify-content-center" style="height: 100vh; text-align: center;">
        <div class="row">
            <div class="col-12">
                <h3 style="white-space: nowrap;">
                    A dedicated Computer Science student with a passion for developing user-friendly websites
                    and a solid foundation in Artificial Intelligence, eager to deepen my expertise in Machine Learning
                </h3>        
                <a href="mailto:aryangupta4279@gmail.com">
                    <button class="btn btn-success emailb">Email</button>
                </a> 
            </div>
        </div>
    </div>
</div>
