<% layout("layouts/boilertemplate") %>

    <div class="background">
   

       <div class="container home">
        <div class="row">
             
            <div class="col-lg-6 hometext">
                <h3> This is Aryan </h3>
                <h3> A dedicated Computer Science student with a passion for developing user-friendly websites </h3>
                <h4>  and a solid foundation in Artificial Intelligence, eager to deepen my expertise in Machine Learning </h4>        
                <a href="mailto:aryangupta4279@gmail.com" >
                    <button class=" btn btn-success emailb ">Email</button>
                </a> 
            </div>
            
            <div class="col-lg-6">
                <!-- <img src="  https://res.cloudinary.com/dxtghtzir/image/upload/v1685033408/smart-removebg-preview_lf1jom.png"  class="img-fluid image" height="400" width="500" style="border-radius: 50%; background-color:black"> -->
              </div>  
        </div>
       </div>
    </div>

    

 
