<% layout("layouts/boilertemplate")  %>

    
 
   
  
     <div class="container-home">
      <div class="row">
        <div class="simages">
          <img src="/photos/C++.avif" class=" img-fluid img1" alt="">
          <img src="/photos/DSA.webp" class="img-fluid img1" alt="">
          <img src="/photos/HCJ.avif" class="img-fluid  img1" alt="">
          <img src="/photos/ejs.png" class="img-fluid img1" alt="">
          <img src="/photos/express.png" class="img-fluid  img1" alt="">
          <img src="/photos/Mongodb.png" class=" img-fluid  img1" alt="">
      </div>
      </div>
      </div>

     
      